$link-prev-color: #4c62b2;
$link-active-color: #757575;

.breadcrumbs {
  font-size: rem(10);
  margin-bottom: rem(23);
  &_small-margin {
    margin-bottom: rem(10);
  }
}

.breadcrumbs__link {
  color: $blue;
  &_prev {
    color: $link-prev-color;
  }
  &_active {
    color: $black;
  }
}
