.button {
  border: none;
  padding: rem(15 13);
  font: {
    size: rem(14);
    family: $main-font;
  }
  color: #fff;
  line-height: 1.2;
  cursor: pointer;
  text-transform: uppercase;
  background: $blue;
  &_font-size-12 {
    font-size: rem(12);
    line-height: 1;
    padding: {
      top: rem(14);
      bottom: rem(14);
    }
  }
}
