.button {
  border: none;
  padding: rem(14 11);
  font: {
    size: rem(14);
    family: $main-font;
  }
  color: #fff;
  line-height: 1.2;
  cursor: pointer;
  text-transform: uppercase;
  background: $blue;
  &_font-size-12 {
    font-size: rem(12);
    line-height: 1;
    padding: {
      top: rem(14);
      bottom: rem(14);
    }
  }
  &_alt {
    border: 3px solid $blue;
    border-radius: 1px;
    background: transparent;
    text-transform: lowercase;
    padding: rem(11 13);
    transition: background-color 250ms, color 250ms;
    &:hover {
      background-color: $blue;
      color: #fff;
    }
  }
  &_color-black {
    color: $black;
  }
}
