.contact {
  &_margin-right {
    margin-right: rem(80);
  }
  &_margin-bottom {
    margin-bottom: rem(10);
  }
}

.contact__icon {
  display: inline-block;
  margin: {
    right: rem(5);
    top: rem(-5);
  }
}
