.contacts-list {
  margin-bottom: rem(77);
}

@media (max-width: 540px) {
  .contacts-list__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 0;
    &:after {
      width: rem(130);
      height: rem(130);
      left: 50%;
      transform: translateX(-50%);
    }
    &:nth-child(2) {
      margin-bottom: rem(85);
    }
  }
}
