.form {

}

.form__item {
  &:not(:last-child) {
    margin-right: rem(16);
    @media (max-width: 600px) {
      margin: {
        right: 0;
        bottom: rem(25);
      }
    }
  }
  @media (max-width: 600px) {
    width: 100%;
    .button {
      width: 100%;
    }
  }
}

.form__input {
  padding: rem(13 7 13 16);
  height: rem(40);
  border: none;
  border-radius: 0;
  box-shadow: none;
  -webkit-appearance: none;
  font: {
    size: rem(14);
  }
  @include input-placeholder {
    color: $black;
  }
  @media (max-width: 600px) {
    width: 100%;
  }
}
