.grid {
  display: flex;
  align-items: center;
  justify-content: space-between;
  &_border-bottom {
    padding-bottom: rem(54);
    border-bottom: 2px solid #616161;
  }
  &_flex-start {
    align-items: flex-start;
  }
}

.grid__col {
  &_flex {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  &_margin-right {
    margin-right: rem(80);
  }
  &_small-margin-right {
    margin-right: rem(40);
  }
  &_with-img {
    min-width: 50%;
    max-width: 50%;
  }
  &_width-50 {
    width: 50%;
  }
}
