.header {
  padding: {
    top: rem(37);
    bottom: rem(34);
  }
  margin-bottom: rem(40);
  background: #fff;
  color: $black;
  &_alt {
    background: transparent;
    color: #fff;
    padding: {
      top: rem(32);
      bottom: 0;
    }
    margin-bottom: rem(132);
  }
}

.header__logo {
  margin-right: rem(18);
  max-width: rem(195);
  &_big {
    max-width: rem(232);
  }
}

.header__company-descr {
  font-size: rem(10);
  line-height: 1.7;
  letter-spacing: 2px;
  max-width: rem(300);
  color: $black;
  &_gray-color {
    color: $light-gray;
  }
}

.header__contacts {
  margin-right: rem(72);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: rem(14);
  line-height: 2;
}
