.header {
  padding: {
    top: rem(37);
    bottom: rem(34);
  }
  margin-bottom: rem(40);
  background: #fff;
  color: $black;
  &_alt {
    background: transparent;
    color: #fff;
    padding: {
      top: rem(32);
      bottom: 0;
    }
    margin-bottom: rem(132);
  }
  @media (max-width: 540px) {
    margin-bottom: rem(18);
    &_alt {
      margin-bottom: rem(48);
    }
  }
  @media (max-width: 475px) {
    padding: {
      top: rem(18);
      bottom: rem(18);
    }
  }
}

.header__logo {
  margin-right: rem(18);
  max-width: rem(195);
  min-width: rem(150);
  width: 100%;
  &_big {
    max-width: rem(232);
    min-width: rem(150);
  }
}

.header__company-descr {
  font-size: rem(10);
  line-height: 1.7;
  letter-spacing: 2px;
  max-width: rem(300);
  color: $black;
  &_gray-color {
    color: $light-gray;
  }
  @media (max-width: 600px) {
    display: none;
  }
}

.header__contacts {
  margin-right: rem(72);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: rem(14);
  line-height: 2;
  @media (max-width: 768px) {
    margin-left: rem(25);
  }
  @media (max-width: 475px) {
    flex-direction: column;
    align-items: flex-start;
    margin-left: 0;
    margin-right: rem(25);
    font-size: rem(10);
    .contact_margin-right {
      margin-right: 0;
    }
  }
}
