.history {
  margin-bottom: rem(68);
}

.history__title {
  margin-bottom: rem(69);
  @media (max-width: 540px) {
    margin-bottom: rem(48);
  }
}

.history__item {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  &:not(:last-child) {
    position: relative;
    margin-bottom: rem(44);
    &:after {
      content: '';
      position: absolute;
      left: 0;
      bottom: rem(-36);
      width: 2px;
      height: rem(80);
      background: #ddddde;
    }
  }
  @media (max-width: 540px) {
    flex-direction: column;
    &:after {
      display: none;
    }
  }
}

.history__date {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  margin-right: rem(50);
  min-width: rem(250);
  max-width: rem(250);
  @media (max-width: 680px) {
    min-width: rem(170);
    margin-right: rem(25);
  }
  @media (max-width: 540px) {
    margin-bottom: rem(10);
    min-width: rem(200);
  }
}

.history__month {
  font: {
    size: rem(20);
    weight: 400;
    family: $head-font;
  }
  @media (max-width: 680px) {
    font-size: rem(15);
  }
}

.history__year {
  font: {
    size: rem(40);
    weight: 400;
    family: $head-font;
  }
  letter-spacing: -0.77px;
  line-height: 1.15;
  color: $blue;
  .black {
    color: $black;
  }
  @media (max-width: 680px) {
    font-size: rem(30);
  }
}
