.menu {
  min-height: 100vh;
  width: rem(475);
  padding: rem(40 334 53 40);
  position: absolute;
  top: 0;
  right: -999px;
  background: $footer-gray;
  color: #fefefe;
  z-index: 1000;
  transition: right 0.5s;
  overflow-x: hidden;
  &.active {
    right: 0;
    @media (max-width: 540px) {
      width: 100%;
    }
  }
  @media (max-width: 540px) {
    padding: {
      left: rem(20);
      right: rem(20);
    }
  }
}

.menu__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  &:first-child {
    margin-bottom: rem(45);
  }
  &:not(:last-child) {
    margin-bottom: rem(25);
  }
}

.menu__icon {
  max-width: rem(33);
  height: rem(24);
  width: 100%;
  margin: 0 auto rem(13);
  img {
    margin: 0 auto;
    height: 100%;
    object-fit: contain;
  }
}

.menu__link {
  display: block;
  font-size: rem(10);
  text-transform: uppercase;
  position: relative;
  padding-bottom: 2px;
  border-bottom: 2px solid transparent;
  transition: border-bottom-color 250ms;
  &:hover {
    border-bottom-color: $blue;
  }
}

.menu__close {
  width: rem(15);
  height: rem(15);
  background: url('../img/menu/close.svg') no-repeat center center;
}
