.nav {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.nav__col {
  &:first-child {
    margin-right: rem(52);
  }
}

.nav__link {
  display: block;
  text-transform: uppercase;
  transition: color 250ms;
  &:not(:last-child) {
    margin-bottom: rem(10);
  }
  &:hover {
    color: darken(#fff, 30%);
  }
}
