.partnership-info {
  margin-bottom: rem(110);
  padding-top: rem(171);
  @media (max-width: 600px) {
    padding-top: rem(140);
  }
  @media (max-width: 540px) {
    padding-top: rem(120);
    margin-bottom: rem(48);
  }
  @media (max-width: 475px) {
    padding-top: rem(100);
  }
}

.partnership-info__main-title {
  margin-bottom: rem(48);
}

.partnership-info__descr {
  &_margin-bottom {
    margin-bottom: rem(50);
    @media (max-width: 540px) {
      margin-bottom: rem(25);
    }
  }
  @media (max-width: 540px) {
    flex-direction: column;
    .grid__col {
      width: 100%;
      &_small-margin-right {
        margin: {
          right: 0;
          bottom: rem(25);
        }
      }
    }
  }
}

.partnership-info__img {
  max-width: rem(560);
}

.partnership-info__title {
  font: {
    family: $head-font;
    size: rem(20);
  }
  margin-bottom: rem(16);
  line-height: 1.65;
}
