.service-list {
  margin-bottom: rem(60);
}

.service-list__container {
  max-height: rem(1260);
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.service-list__list {
  display: inline-flex;
  flex-direction: column;
}

.service-list__title {
  color: #5783e5;
  font: {
    family: $head-font;
    size: rem(24);
    weight: 900;
  }
  line-height: 1.2;
  margin-bottom: rem(10);
}

.service-list__section {
  margin-bottom: rem(22);
}

.service-list__city-name {
  font-size: rem(16);
  cursor: pointer;
  &:not(:last-child) {
    margin-bottom: rem(10);
  }
  position: relative;
  text-decoration: underline;
  transition: text-decoration 250ms;
  &:hover {
    text-decoration: none;
  }
}
