.services-info {
  margin-bottom: rem(58);
  padding-top: rem(171);
  @media (max-width: 600px) {
    padding-top: rem(140);
  }
  @media (max-width: 540px) {
    padding-top: rem(120);
  }
  @media (max-width: 475px) {
    padding-top: rem(100);
  }
}

.services-info__main-title {
  margin-bottom: rem(50);
}

.services-info__title {
  margin-bottom: rem(28);
  font: {
    size: rem(24);
    weight: 400;
    family: $head-font;
  }
  text-transform: uppercase;
}

.services-info__descr {
  &_margin-bottom {
    margin-bottom: rem(70);
    @media (max-width: 540px) {
      margin-bottom: rem(25);
    }
  }
  @media (max-width: 540px) {
    flex-direction: column;
    .grid__col {
      width: 100%;
      max-width: none;
      min-width: 0;
      &:first-child {
        margin-bottom: rem(25);
      }
      &_with-img {
        text-align: center;
      }
    }
  }
}

.services-info__paragraph {
  font-family: $main-font;
  &:not(:last-child) {
    margin-bottom: rem(13);
  }
}

.services-info__img {
  margin-top: rem(-20);
}
