$head-font: 'GothamBlack', sans-serif;
$main-font: 'GothamPro', sans-serif;
$text-font: 'Open Sans', sans-serif;

$footer-gray: #4c4c4c;
$news-gray: #bfbfbf;
$main-gray: #ededed;
$footer-sub-block-color: #9d9d9d;

$main-fz: 16px;
$black: #333333;
$light-gray: #c8c8c8;
$blue: #475db0;
